mat-card {
  max-width: 500px;
  margin: 5px;
  margin: 0 auto;
}

mat-card-footer {
  font-size: 0.6rem;
  padding: 5px;
}

button {
  margin: 0 5px;
}

.mat-divider {
  margin: 5px 0 !important;
}

.address-container {
  margin: 5px;
}

h3 {
  margin: 5px 0px;
}
