<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a>Webkert Projekt</a>

    <button mat-button [routerLink]="['/home']">Home</button>
    <button mat-button [matMenuTriggerFor]="customerMenu">Customer</button>

    <mat-menu #customerMenu="matMenu">
      <button mat-menu-item [routerLink]="['/customer/add']">
        <mat-icon>add</mat-icon>
        <span>Add Customer</span>
      </button>
      <button mat-menu-item [routerLink]="['/customer/list']">
        <mat-icon>list</mat-icon>
        <span>List Customer</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
