mat-card {
  max-width: 500px;
  margin: 10px auto;
}

mat-card-footer {
  font-size: 0.6rem;
  padding: 5px;
}

mat-form-field {
  width: 100%;
}

button {
  margin: 0 5px;
}

.mat-divider {
  margin: 5px 0 !important;
}

.address-container {
  padding: 5px 5px;
  margin: 5px;
}
